@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
}

* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}

:root {
    --blauw1: #16697A;
    --blauw2: #489FB5;
    --blauw3: #82C0CC;
    --wit: #EDE7E3;
    --accent: #FFA62B;
    --text: #000;
}

body {
    background-color: var(--wit);
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

article {
    animation: pageload .25s ease-in-out both;
    max-width: 1200px;
}

article:nth-child(2) {
    animation-delay: .1s;
}

header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 4rem;
    margin-bottom: 6rem;
    color: var(--wit);
    background-color: var(--blauw1);
    font-size: 1.5rem;
    z-index: 1;
}

header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.wave {
    position: absolute;
    top: 4rem;
    width: 100%;
    height: 6rem;
}

.brand {
    font-size: 2rem;
    padding: 0.5rem 2rem;
    font-weight: 500;
}

nav {
    height: 100%;
    max-width: 1200px;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: var(--wit);
}

.home-md {
    display: none;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 15ch;
    top: 5rem;
    right: 2.5rem;
    background-color: var(--blauw2);
    border-radius: 1rem;
    visibility: hidden;
    z-index: 1;
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, visibility 300ms ease-in-out;
    opacity: 0;
}

#menu:focus+#links,
#menu:focus-visible+#links,
#menu:focus-within+#links,
#links:focus,
#links:focus-visible,
#links:focus-within {
    transform: translateY(0);
    opacity: 100;
    visibility: visible;
}

.pointer {
    cursor: pointer;
}

#links a {
    width: 100%;
    color: var(--wit);
    transition: color 200ms, background-color 200ms;
    border-radius: 1rem;
    text-decoration: none;
    color: var(--main-text);
    padding: 1rem;
}

#links a:hover {
    background-color: var(--blauw1);
    color: var(--accent);
}

button {
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    background-color: var(--blauw1);
    color: var(--wit);
    transition: 200ms;
}

button:hover {
    background-color: var(--blauw2);
    color: var(--accent);
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    max-height: fit-content;
    background-color: var(--accent);
    padding: 0.5rem 1rem;
    margin-top: 4rem;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
}

.contact-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: var(--blauw1);
    padding: 1rem;
    border-radius: 1rem;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--wit);
}

.contact-item a {
    color: var(--wit);
}

input,
textarea {
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--accent);
}

textarea {
    position: relative;
    resize: vertical;
    min-height: 2ch;
    max-height: 50vh;
    height: 20vh;
}

.wide {
    grid-column-start: 1;
    grid-column-end: 3;
}

.wave * {
    width: 100%;
    height: 100%;
}

.form-send {
    width: fit-content;
}

.overzichtGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 70vw;
}

.gridSection {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 25vh;
    min-width: 10vw;
    overflow: hidden;
    transition: scale 200ms;
}

.gridSection:hover {
    scale: 1.05;
}

.upperSection {
    height: 45%;
    overflow: hidden;
}

.lowerSection {
    height: 55%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1rem;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.card-top {
    width: 100%;
    min-height: 20%;
    max-height: 50%;
    object-fit: cover;

}

.card {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: hidden;
    overflow-y: visible;
    transition: scale 200ms;
}

.card-big {
    border-radius: 1.5rem;
    width: calc(100vw - 10rem);
    max-width: 768px;
}

.content-big {
    padding: 1rem;
    border-radius: 1.5rem;
    width: calc(100vw - 10rem);
    max-width: 768px;
    overflow-x: hidden;
    overflow-y: visible;
}

.overflow {
    overflow: visible;
}

.card-content {
    padding: 1.5rem 2rem;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.card-content h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    grid-auto-rows: 8rem;
    width: 100%;
}

.gallery-item {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    transition: scale 200ms, height 200ms;
    cursor: pointer;
    height: 8rem;
    width: 100%;
    cursor: zoom-in;
}

.gallery-item:focus,
.gallery-item:focus-visible,
.gallery-item:focus-within,
.gallery-item:active,
.gallery-item:target {
    scale: 2;
    width: fit-content;
    height: fit-content;
    overflow: visible;
    transition: all 200ms;
    box-shadow: none;
}

.gallery-item:focus img,
.gallery-item:focus-visible img,
.gallery-item:focus-within img,
.gallery-item:active img,
.gallery-item:target img {
    scale: 2;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.duck-frame {
    aspect-ratio: 16/9;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("images/eendherkenning.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.duck-recognition {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    aspect-ratio: 1/1;
    border: 5px solid red;
    animation: herkenning 5s both infinite;
}

.duck-recognition-text {
    background-color: lime;
    width: fit-content;
    color: var(--tekst);
    animation: herkenning-color 5s both infinite
}

.radio-button {
    background-color: var(--accent);
}

.inline {
    display: inline;
}

.duck:hover:after,
.duck:hover:before {
    content: "🦆";
}

.home-grid {
    position: absolute;
    display: grid;
    gap: 0;
    padding: 0;
    top: 0;
    grid-template-columns: 100%;
    min-width: 100%;
}   

.home-top {
    top: 4rem;
    padding-top: 12rem;
    min-height: 75vh;
    min-width: 100%;
}

.top-content {
    display: flex;
    justify-content: center;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(50%);
}

.center-text {
    text-align: center;
}

.border {
    margin: 3px;
}

.title {
    color: var(--wit);
    font-size: 300%;
}

@keyframes herkenning {
    0% {
        left: 0;
        border-color: red;
    }

    20% {
        top: 20%;
        left: 50%;
        border-color: red;
    }

    40% {
        top: 20%;
        left: 50%;
        border-color: lime;
    }

    50% {
        border-color: red;
    }

    60% {
        left: 5%;
        top: 20%;
        border-color: red;
    }

    85% {
        border-color: lime;
        top: 20%;
        left: 5%;
    }

    100% {
        border-color: red;
        top: 0;
    }

}

@keyframes herkenning-color {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes pageload {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1025px) {
    .grid-2-md {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-item:focus img,
    .gallery-item:focus-visible img,
    .gallery-item:focus-within img,
    .gallery-item:active img,
    .gallery-item:target img {
        scale: 1.5;
    }
}

@media screen and (max-width: 768px) {
    .home-lg {
        display: none;
    }

    .home-md {
        display: block;
    }

    .gallery-item:focus img,
    .gallery-item:focus-visible img,
    .gallery-item:focus-within img,
    .gallery-item:active img,
    .gallery-item:target img {
        scale: 1;
    }

    .grid-1-md {
        grid-template-columns: 1fr;
    }

    .card-big {
        width: 90vw;
    }

    .content-big {
        width: 90vw;
    }

    .wave {
        display: none;
    }

    header {
        height: 7rem;
    }

    header {
        margin-bottom: 1rem;
    }

    .contact-form {
        grid-template-columns: 1fr;
    }

    .wide {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

@media screen and (max-width: 430px) {

    .grid-1-sm {
        grid-template-columns: 1fr;
    }

    .card-big {
        width: 100vw;
    }

    .content-big {
        width: 100vw;
    }

}