@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
}

* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

:root {
    --blauw1: #16697A;
    --blauw2: #489FB5;
    --blauw3: #82C0CC;
    --wit: #EDE7E3;
    --accent: #FFA62B;
    --text: #000;
}

body {
    background-color: var(--wit);
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10rem 0 2rem;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
    height: 3.5rem;
    color: var(--wit);
    background-color: var(--blauw1);
    font-size: 1.5rem;
}

.brand {
    font-size: 2rem;
    padding: 0.5rem 2rem;
    font-weight: 500;
}

nav {
    height: 100%;
    max-width: 1200px;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: var(--wit);
}

.home-md {
    display: none;
}

ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    right: 1.5rem;
    top: 5rem;
    background-color: var(--blauw2);
    border-radius: 1rem;
    width: 15ch;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, visibility 300ms ease-in-out;
    visibility: hidden;
    z-index: 1;
}

#menu:focus+#links,
#menu:focus-visible+#links,
#menu:focus-within+#links,
#links:focus,
#links:focus-visible,
#links:focus-within {
    transform: translateY(0);
    opacity: 100;
    visibility: visible;
}

.pointer {
    cursor: pointer;
}

ul a {
    width: 100%;
}

li {
    list-style: none;
    color: var(--wit);
    transition: color 200ms, background-color 200ms;
}

li:hover {
    background-color: var(--blauw1);
    color: var(--accent);
}

a li {
    border-radius: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--main-text);
    width: 100%;
}

button {
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    background-color: var(--blauw1);
    color: var(--wit);
    transition: 200ms;
}

button:hover {
    background-color: var(--blauw2);
    color: var(--accent);
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    min-height: 50px;
    max-height: 2rem;
    background-color: var(--accent);
}

.contactForm {
    position: relative;
    background-color: var(--wit);
    border-radius: 1.5rem;
    padding: 1.5rem 2rem;
    padding-bottom: 5.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: max-content;
    min-width: 60ch;
    max-width: 1200px;
    min-height: 60vh;
}

.contactForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
}

input,
textarea {
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--accent);
}

textarea {
    position: relative;
    resize: vertical;
    min-height: 2ch;
    max-height: 50vh;
    height: 20vh;
}

.wide {
    grid-column-start: 1;
    grid-column-end: 3;
}

.wave {
    position: absolute;
    top: 3.5rem;
    width: 100%;
    height: 6rem;
}

.wave * {
    width: 100%;
    height: 100%;
}

.sendForm {
    position: absolute;
    bottom: 1.5rem;
}

.overzichtGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 70vw;
}

.gridSection {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 25vh;
    min-width: 10vw;
    overflow: hidden;
    transition: scale 200ms;
}

.gridSection:hover {
    scale: 1.05;
}

.upperSection {
    height: 45%;
    overflow: hidden;
}

.lowerSection {
    height: 55%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1rem;
    grid-auto-rows: 1fr
}

.card-top {
    width: 100%;
    min-height: 20%;
    max-height: 50%;
    object-fit: cover;

}

.card {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: hidden;
    overflow-y: visible;
    transition: scale 200ms;
}

.card-big {
    border-radius: 1.5rem;
    width: calc(100vw - 10rem);
    max-width: 768px;
}

.overflow {
    overflow: visible;
}

.card-content {
    padding: 1rem;
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    grid-auto-rows: 1fr;
    width: 100%;
}

.gallery-item {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    transition: scale 200ms, height 200ms;
    cursor: pointer;
    height: 8rem;
    width: 100%;
}

.gallery-item:focus,
.gallery-item:focus-visible,
.gallery-item:focus-within,
.gallery-item:active,
.gallery-item:target {
    scale: 2;
    width: 200%;
    overflow: visible;
    transform: translateX(-15%);
    transition: all 200ms;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 1025px) {
    .grid-2-md {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .home-lg {
        display: none;
    }

    .home-md {
        display: block;
    }
}

@media screen and (max-width: 430px) {

    .grid-1-sm {
        grid-template-columns: 1fr;
    }

    header {
        height: 7rem;
    }

    .wave {
        display: none;
    }

    .card-big {
        width: 100vw;
    }

}